<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="font-awesome/css/font-awesome.min.css" >
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/simple.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='app'>
        <header>
            <h1 class="green">André N. Darcie</h1>
            <h2 class="purple">Web & Mobile Developer - Software Engineer</h2>
        </header>
        <section>
        <section>
            <h3 class="grey">// About me</h3>
            <p>I'm a computer scientist working as a freelancer. Looking for job opportunities.</p>
        </section>
        <section style="width: 50%">
            <span v-on:click="clickAll()" class="blue" style="display: inline;">All</span>
            <ul style="display: inline;">
                <li v-on:click="clickTag(tag)" class="blue" v-for="tag in tags" style="display: inline;">
                    {{ tag }}
                </li>
            </ul>
        </section>
        <section>
            <h3 class="grey">// Portfolio</h3>
            <div>
                <article v-for="project in projects">
                    <header>
                        <h4 class="fuschia">{{ project.title }}</h4>
                        <p>
                            -  {{ project.description }}
                        </p>
                    </header>
                    <section>
                        <h5 class="technologies-used"> Technologies used:</h5>
                        <ul style="display: inline;">
                            <li class="blue" v-for="tag in project.tags" style="display: inline;">
                                {{ tag }}
                            </li>
                        </ul>
                        <ul style="display: inline;">
                            <li v-for="link in project.links" style="display: inline;">
                                <span class="links">
                                    [ <a v-bind:href="link.url" target="_blank"> {{ link.label }}</a> ]
                                </span>
                            </li>
                        </ul>
                    </section>
                </article>
            </div>
        </section>
    </div>
    <footer>
        <h3 class="grey">// Contact Me <h3>
        <p><span class="purple">[ andrendarcie@gmail.com, github.com/andredarcie ]</span></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="data.js"></script>
    <script>

    var app = new Vue({
        el: '#app',
        data: {
            projects: projects,
            tags: []
        },
        methods: {
            getTags: function () {
                for(var i = 0; i < projects.length; i++) {
                    tags = projects[i].tags;
                    
                    for (var x = 0; x < tags.length; x++){
                        var tag = tags[x];

                        this.tags.push(tag);
                    }
                }

                // Unique values in an array
                this.tags = Array.from(new Set(this.tags));
            },
            clickTag: function (event) {    
                var filtredProjects = [];
                for(var i = 0; i < projects.length; i++) {
                    tags = projects[i].tags;
                    
                    for (var x = 0; x < tags.length; x++){
                        var tag = tags[x];

                        if(tag === event){
                            filtredProjects.push(projects[i]);
                        }
                    }
                }

                this.projects = filtredProjects;
            },
            clickAll: function (){
                this.projects = projects;
            }
        }
    });

    app.getTags();
    
    </script>
</body>
</html>
